.floating-text {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 30000; /* Make sure the text is above all other elements */
    background-color: rgba(255, 255, 255, 0.8); /* Optional background for better readability */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
    font-family: Arial, sans-serif;
    cursor: move; 
}

.floating-table {
    border-collapse: collapse;
    width: 100%;
}

.floating-table th, .floating-table td {
    padding: 6px;
    font-size: 12px;
}

.floating-table th {
    text-align: center;
    background-color: #f2f2f2;
}

.floating-table td {
    border: 1px solid #dddddd;
    text-align: left;
}

.floating-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.floating-table caption{
    font-size: 14px;
}