
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.header a, .header p {
    margin: 2px 0px;
}

.floating-text[theme="light"] {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2147483647; /* Make sure the text is above all other elements */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    cursor: move; 
    background-color: rgba(255, 255, 255, 0.8); /* Optional background for better readability */
    color: black;
}


.floating-text[theme="dark"] {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 30000; /* Make sure the text is above all other elements */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    cursor: move; 
    background-color: rgba(0, 0, 0, 0.8); /* Optional background for better readability */
    color: gainsboro;
}

.floating-table {
    border-collapse: collapse;
    width: 100%;
}

.floating-table th, .floating-table td {
    padding: 6px;
    font-size: 12px;
}

.floating-text[theme="light"] .floating-table th {
    text-align: center;
    background-color: #f2f2f2;
}

.floating-text[theme="dark"] .floating-table th {
    text-align: center;
    background-color: #333;
}

.floating-text[theme="light"] .floating-table td {
    border: 1px solid #dddddd;
    text-align: left;
}

.floating-text[theme="dark"] .floating-table td {
    border: 1px solid #333;
    text-align: left;
}

.floating-text[theme="light"] .floating-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.floating-text[theme="dark"] .floating-table tr:nth-child(even) {
    background-color: #444;
}

.floating-table caption {
    font-size: 14px;
}

.floating-table td[id*="score"] {
    font-weight: 600;
}

